{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/blog/details/details-pic.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Blog</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'products:home' %}">Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form method="get">
                            <input type="text" name="s" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="{% url 'blog:blog' %}">All</a></li>
                            {% for category in categories %}
                            <li><a href="{% url 'blog:blog' %}?cat={{ category.category|urlencode }}">{{ category.category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Tags</h4>
                        <div class="blog__sidebar__item__tags">
                            {% for tag in tags %}
                            <a href="{% url 'blog:blog' %}?tag={{ tag.tag|urlencode }}">{{ tag.tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent">
                            {% for post in last_3_posts %}
                            <a href="{% url 'blog:blog-details' post.id %}" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}" style="width: 70px; height: 70px; object-fit: cover;">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>{{ post.title|truncatechars:45 }}</h6>
                                    <span>{{ post.created_at|date:'M d, Y' }}</span>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    {% for post in posts %}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{ post.created_at|date:'M d, Y' }}</li>
                                    <li><i class="fa fa-user-o"></i> {{ post.author_name }}</li>
                                </ul>
                                <h5><a href="{% url 'blog:blog-details' post.id %}">{{ post.title|truncatechars:60 }}</a></h5>
                                <p>{{ post.content|truncatechars:120 }}</p>
                                <a href="{% url 'blog:blog-details' post.id %}" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12"><p>No blog posts found.</p></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

