{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/blog/details/details-pic.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'products:home' %}">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="checkout spad">
    <div class="container">
        <div class="row">
            {% if is_empty_checkout %}
            <div class="col-lg-8 col-md-7">
                <div class="checkout__order">
                    <h4>Your checkout is empty</h4>
                    <p>Add products to cart first, then come back here to complete the order.</p>
                    <a href="{% url 'products:shop_grid' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="checkout__order">
                    <h4>Quick Links</h4>
                    <a href="{% url 'carts:cart' %}" class="primary-btn cart-btn d-block text-center mb-2">BACK TO CART</a>
                    <a href="{% url 'carts:my-wishlist' %}" class="primary-btn cart-btn d-block text-center">GO TO WISHLIST</a>
                </div>
            </div>
            {% else %}
            <div class="col-lg-8 col-md-7">
                <h4>Billing Details</h4>
                <form method="post" class="checkout__form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12 mb-3">{{ form.address }}</div>
                        <div class="col-lg-12 mb-3">{{ form.phone }}</div>
                        <div class="col-lg-12 mb-3">{{ form.note }}</div>
                    </div>
                    <button type="submit" class="site-btn">PLACE ORDER</button>
                </form>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="checkout__order">
                    <h4>Your Order</h4>
                    <div class="checkout__order__products">Products <span>Total</span></div>
                    <ul>
                        {% for item in cart.cart_items.all %}
                        <li>{{ item.product.name }} x {{ item.quantity }} <span>UZS {{ item.get_item_total }}</span></li>
                        {% endfor %}
                    </ul>
                    <div class="checkout__order__total">Total <span>UZS {{ cart.get_cart_total }}</span></div>
                    <div class="mt-4">
                        <a href="{% url 'carts:cart' %}" class="primary-btn cart-btn d-block text-center mb-2">BACK TO CART</a>
                        <a href="{% url 'carts:my-wishlist' %}" class="primary-btn cart-btn d-block text-center">GO TO WISHLIST</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

